*, *::before, *:after { /*Estilos generales*/
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body { /*Fondo del body*/
    background-color: #D5FED7;
    margin: 0;
    margin-bottom: 80px;
}

MARQUEE {
  color: #fff;
}

h1 {
    color:#619A51;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color:#619A51;
    text-align: center;
    margin-top: 50px;
}

.parrafo{
     text-align: justify;
     padding: 20px 20px 20px 20px;
}

li {
    padding: 20px 20px 5px 20px;
    text-align: justify;
}
.infografia {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.animal, .vegetal, .fungi, .protoctista, .monera {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Estilos para el menu */
.menu {
    background-color: #619A51;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 5px 0px rgba(0, 0, 0, .6);
}

.logo {
    color: #fff;
    font-size: 35px;
    padding: 0 50px;
    font-weight: bold;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 35px;
}
.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.menu_items li:hover, li.active {
    background-color: #87DC8C;
    transition: .4%;
}
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}
@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;    
    }
    .menu_items li a {
        font-size: 16px;
    }
}
/*Responsive del Menu*/
@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
       display: inline-flex;
        /*position: fixed;*/
       /* display: block;*/
        margin-left: 20px;
    }
    .menu_items{
       position: absolute;
       margin-top: 105px;
        width: 100vw;
        /*height: calc(100% - 65px);*/
        background-color: #414141;
        top: -90vh; /*-100vh*/
        text-align: center;
        transition: all .4%; /*4%*/
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size:20px ;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #619A51;
    }
    .logo {
        font-size: 25px;
        padding-left: 60px;
        
    }
    .infografia {
        width: 100%;
    }
    .animal, .vegetal, .fungi, .protoctista, .monera {
        width: 100%;
    }
    footer {
        width: 100%;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: cal(100% - 65px);
    }
}
/*Estilos del footer*/

footer {
    background-color: #619A51;
    border-bottom: 1px solid #e6e6e6;
    color: #fff;
    text-align: center;
    padding: 10px 0 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
}
/*
img {
    width: 100%;
}
*/
.logo_img {
   display: inline-block;
    vertical-align:middle;
    width: 80px;
    border-radius: 50px;
    
}